#titulo{
    color: green;
}
#paragrafo1{
    color: blueviolet;
}
#paragrafo2{
    color: coral;
}
#paragrafo3{
    color:yellow
}
#subtitulo{
    color:blue;
}
#paragrafo4{
    color:red;
}
#paragrafo5{
    color:lime;
}
#paragrafo6{
    color:gray;
}
